
/* =============== 
------------  Header ---------------
============ */

.header{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  transition: all .5s ease-in;
 }

 /* ============
 --------------- START - Header Active on scroll
 ============ */

.header.active {
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  transition: all .5s ease-in;
}

.header.active .header_logo{
  display: none;
}
.header.active .logo-container{
  width: 50%;
}

 /* ============
 ---------------  END - Header Active on scroll
 ============ */

.header_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.logo-container{
  display: inline-block;
  text-align: center;
  width: 30%;
}
.logo{
  margin: 0 auto;
  width: 100%;
}

/* ============
--------------- Navbar
============== */


.close_icon{
 display: none;
}
.navbar_desktop{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-nav);
  min-height: 45px;
  height: auto;
  min-width: 100%;  
}

.navbar_content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}
.navbar_item{
 min-height: 100%;
 cursor: pointer;
}
.navbar_link{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: capitalize;
  min-height: 100%;
  display: inline-block;
  line-height: 45px;
  transition: all .3s ease-in-out;
  padding: 0 3px;
}
.navbar_item:hover .navbar_link{
  color: var(--color-pink);
}

.hamburger_nav{
  display: none;
}



/* =========
----------  navbar mobile
===========*/


/* 
.navbar_mobile{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 100;
  background-color: var(--color-nav);
  transition: all .5s ease-in-out;
} */
  /* .navbar_desktop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: var(--color-nav);
  transform: translateX(-100vw);
  transition: all .5s ease-in-out;
  } */
  /* .close_icon{
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
  color: #ffffff;
  z-index: 101;
  transition: all .5s ease-in-out;
  }

 
  .navbar_item{
  min-height: 0;
  }

.menu-bars{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background: none;
  color: var(--color-nav);
}
.navbar_link{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: capitalize;
} */





/* ================================

///////////////////////////////////////////// Queries

============================ */

@media only screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px){


  /* ============== START Header active ======== */

  .header.active{
    padding: 1rem 2rem;
  }
  
  .header.active .hamburger_nav{
  width: auto;
  margin-right: 0;
  }
  
  .header.active .header_logo{
    display: block;
    width: 50%;
  }
  .header.active .logo-container{
    width: 40%;
  }

  /* =============== END Header Active */
  /* header */

.header{
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.21);
    box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.21);
 }
 .header_logo{
  width: 50%;
  margin-bottom: 0;
  justify-content: start;
  margin-top: 0;
  }

  .logo-container{
    display: inline-block;
    text-align: center;
    width: 40%;
  }

  .hamburger_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.navbar_mobile{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 100;
    background-color: var(--color-nav);
    transition: all .5s ease-in;
 }
.navbar_desktop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: var(--color-nav);
  transform: translateX(-100vw);
  transition: all .5s ease-in-out;
  }
 .close_icon{
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
  color: #ffffff;
  z-index: 101;
  transition: all .5s ease-in-out;
  }
 .navbar_content{
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  }
.navbar_item{
  min-height: 0;
  }

 .menu-bars{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background: none;
    color: var(--color-nav);
 }
 .navbar_link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: capitalize;
  }
 
}

@media screen and (max-width: 600px){

.header.active .logo-container{
  width: 45%;
}

 /* header */
 .logo-container{
  width: 45%;
  }
 .nav-menu{
     width: 70%;
  }
}