/* 
font-family: 'Montserrat', sans-serif;
 */
 :root{
  --montserrat: 'Montserrat', sans-serif;
  --color-pink: #FE689B;
  --color-logo: #85DCD7;
  --color-black: #00343D;
  --color-blue: #1292EE;
  --color-nav: #027F9B;
}


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
 }

/* ===============
--------------- Social ----------
==================*/

.header_social{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.claim{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  background: var(--color-pink);
  padding: .2rem 1rem;
}
.link_trial{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
}
.suscribe{
  background: var(--color-logo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 20px;
  width: 80%;
  height: auto;
  padding: .2rem 1rem;
}
.suscribe-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.suscribe-text{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.suscribe_icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.claim p, .suscribe p{
  color: #ffffff;
  margin: 0;
}
.icons-social_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icons-social{
  width: 35px;
  height: 35px;
  margin: 0 5px 0 5px;
}
.letter{
  margin-left: 18px;
}
.micro{
  width: 25px;
  height: 25px;
}
.arrow-icon{
  width: 25px;
  height: 20px;
  margin: 0 10px 0 10px;
}
/* =============== 
------------  Header ---------------
============ */


.header_content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.header_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.logo-container{
  display: inline-block;
  text-align: center;
  width: 30%;
}
.logo{
  margin: 0 auto;
  width: 100%;
}

/* ============
--------------- Navbar
============== */

.close_icon{
 display: none;
}
.navbar_desktop{
  background: var(--color-nav);
  min-height: 45px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}
.navbar_item{
 min-height: 100%;
 cursor: pointer;
}
.navbar_link{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: capitalize;
  min-height: 100%;
  display: inline-block;
  line-height: 45px;
  transition: all .3s ease-in-out;
  padding: 0 3px;
}
.navbar_item:hover .navbar_link{
  color: var(--color-pink);
}

.hamburger_nav{
  display: none;
}

/* ================================

///////////////////////////////////////////// Queries

============================ */

@media only screen and (max-width: 992px) {
  .header_social{flex-direction: column;}
  .claim{width: 100%; padding: 10px;}
  .suscribe{width: 100%; padding: 10px; justify-content: space-around;}
}

@media screen and (max-width: 768px){
  /* social */
  .suscribe{
    flex-direction: column;
    justify-content: center;
  }
  .suscribe-content{flex-direction: column;}
  .suscribe_icons{
    flex-direction: row;
    margin: 5px 0;
  }

  /* header */

 .header_content{
    height: 60px;
    flex-direction: row;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.21);
    box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.21);
 }
 .header_logo{
  margin-bottom: 0;
  justify-content: start;
  margin-left: 2rem;
  margin-top: 0;
}
/* .navbar_content{
  display: none;
} */
.navbar_mobile{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 100;
    background-color: var(--color-nav);
    transition: all .5s ease-in;
 }
.navbar_desktop{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: var(--color-nav);
  transform: translateX(-100vw);
  transition: all .5s ease-in-out;
}
 .close_icon{
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
  color: #ffffff;
  z-index: 101;
}
 .navbar_content{
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}
.navbar_item{
  min-height: 0;
}
 .hamburger_nav{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     width: 100%;
     margin-right: 2rem;
 }
 .menu-bars{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background: none;
    color: var(--color-nav);
 }
 .navbar_link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: capitalize;
}
 
}

@media screen and (max-width: 600px){

  /* social */
  .suscribe-text{
    flex-direction: column;
    align-items: center;
  }

  .arrow-icon{
    transform: rotate(90deg);
    margin: .3rem 0;
  }

 /* header */
 .logo-container{
  width: 45%;
}
 .nav-menu{
     width: 70%;
 }
}